<div class="c-footer">
    <div class="o-progress">
        {% for stage in stages %}
            <div class="o-progress-bar o-progress-bar-{{ stage.stage }}{{ stage.stage == current_stage ? ' current': null }}"
                 title="{{ stage.title }}"></div>
        {% endfor %}
    </div>
    <div class="c-footer__inner">
        <div class="c-footer__inner__column-one">
            {% if prev_url %}
                <a class="o-button__back" href="{{ prev_url }}">
                    <div class="o-button__back__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#363636"
                                  d="M16 16v4l8-8-8-8v4h-8.929c-9.059 0-7.134 9.521-6.334 11.418.788-2.445 2.464-3.418 5.371-3.418h9.892z"/>
                        </svg>
                    </div>
                    <div class="o-button__back__context">Back</div>
                </a>
            {% endif %}
        </div>
        <div class="c-footer__inner__column-two"></div>
        <div class="c-footer__inner__column-three">
            {% if next_url %}
                <button type="submit" name="next" class="o-button__next">
                    <div class="o-button__next__context">Next</div>
                    <div class="o-button__next__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#363636"
                                  d="M16 16v4l8-8-8-8v4h-8.929c-9.059 0-7.134 9.521-6.334 11.418.788-2.445 2.464-3.418 5.371-3.418h9.892z"/>
                        </svg>
                    </div>
                </button>
            {% else %}
                <a class="o-button__next" href="/?restart=1">
                    <div class="o-button__next__context">Start Over</div>
                    <div class="o-button__next__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#363636"
                                  d="M16 16v4l8-8-8-8v4h-8.929c-9.059 0-7.134 9.521-6.334 11.418.788-2.445 2.464-3.418 5.371-3.418h9.892z"/>
                        </svg>
                    </div>
                </a>
            {% endif %}
        </div>

    </div>
</div>
</div>
{% for script in js %}
    <script src="{{ script.src }}" type="{{ script.type }}"></script>
{% endfor %}
</body>
</html>
